.products__head{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
}
.products__listing{
    display: flex;
    flex-direction: column;
    padding: 10;
    border: 1px solid grey;
    width: 30%;
    margin-top: 10;
    gap:10;

}
.product__title{
    display: flex;
    justify-content: space-between;
}